<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="easy.browser"
    android:versionCode="4"
    android:versionName="1.0.3" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk android:minSdkVersion="3" />
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        />
    
    <application
    	android:debuggable="false"
        android:icon="@drawable/explorer"
    	android:name="easy.lib.MyApp" 
        android:label="@string/browser_name" >
        
        <activity android:name="easy.lib.SimpleBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:icon="@drawable/explorer"
            android:launchMode="singleTask"
            android:label="@string/browser_name">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <!--  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="application/xhtml+xml"/>
                <data android:mimeType="application/vnd.wap.xhtml+xml"/>
            </intent-filter>
			<intent-filter>
				<action	android:name="android.intent.action.WEB_SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
			<intent-filter>
				<action	android:name="android.intent.action.MEDIA_SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action	android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
        </activity>
        
        <activity android:name="easy.lib.downloadControl"
        	android:noHistory="true"
        	android:launchMode="singleInstance"
        	android:excludeFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
            	<action android:name="easy.browser.downloadControl"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.google.ads.AdActivity"
        	android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            />
        
    </application>

</manifest>