body{
	background:#d2edff;
}
#login{
	margin:100px auto auto auto;
	width:808px;
	height:534px;
	background:url(images/login.jpg) no-repeat top left;
	position:relative;
}
#login-tip{
	position:absolute;
	top:200px;
	left:80px;
	color:#0c498e;
	font-size:14px;
}
#login-error{
	position:absolute;
	top:185px;
	left:162px;
	color:#9F1313;
}
#login-form{
	width:360px;
	position:absolute;
	top:240px;
	left:55px;
}
#login-form form div.required{
	padding:10px;
}
#login-form form div label{
	width:65px;
	height:32px;
	line-height:32px;
	color:#666;
}
#login-form form div input.inputText{
	width:260px;
	height:30px;
	line-height:30px;
}
#login-form form div.submit{
	margin:0;
	padding:0;
	top:20px;
	right:-95px;
	width:220px;
	position:relative;
}
#login-form form div.submit input.inputSubmit{
	width:60px;
	padding:0;
	margin:0;
	vertical-align:middle;
}
#login-form form div.submit .autologin{
	vertical-align:middle;
	margin-left:15px;
}
#login-form form div.submit span{
	margin-left:2px;
	vertical-align:middle;
}
#register-tip{
	width:230px;
	font-size:13px;
	position:absolute;
	right:28px;
	top:250px;
	color:#0c498e;
}
.reg{
	display:block;
	position:absolute;
	right:70px;
	top:320px;
}
.reg img{
	cursor:pointer;
}
#loginbtn{
	background:url("images/loginbtn.png") repeat scroll 0 0 transparent;
	border:medium none;
	cursor:pointer;
	height:41px;
	padding:0;
	vertical-align:middle;
	width:145px;
	margin-right:10px;
}

.logo{
	display: block;
	height: 160px;
	width: 400px;
	position: absolute;
	text-indent: -9999px;
	top: 0px;
	left: 50px;
}