/*
 * Just for IE <= 8.0
 */

  body {
	padding-top: 60px;
	background-color: #f3f5f3;
	background-image: url('images/noise_bg.png');
  }
  
  img {
  	border-radius:4px;
  }

  .spanpost {
	padding: 20px;
	background-color: #f5f5ff;
	border-radius:15px;
  }

  .myspan4 {
    padding-top: 100px;
  }

  .myspan5 {
  	margin-left: 15px;
  }

  .scrolly {
        max-height:500px;
        overflow-y:auto;
  }

  .appTitle {
        margin:20px;
        width:100px;
  }
  .appDescription {
        margin-left:40px;
        margin-right:20px;
        margin-top:20px;
        margin-bottom:20px;
  }
  .appDownloadBtn {
        margin:20px;
        white-space:nowrap;
	width: 100px
  }

  #folless,#frdless{
	width: 200px
  }

  .fixed {
	position: fixed;
  }
  #phone-top {
  	display: none;
  }  
 

   /*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop{display:none;position:fixed;top:70%;left:50%;cursor:pointer;margin-top:-50px;margin-left:40%;padding:9px 4px;width:20px;text-align:center;border:1px solid #e0e0e0;background:#fff;z-index: 1}
/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 2/4 + "px")}
/*鼠标进入的反馈效果*/
#gotoTop.hover{background:#5CB542;color:#fff;text-decoration:none;}
