h4{background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#dedfff),to(#ced3f7));padding:.3em}
body{margin:.4em 0 0 0;background-color:#f7f3f7}
li{padding-left:25px; margin-left:15px; margin-bottom:25px; list-style:none; background-repeat:no-repeat; background-size:1em;}
