h4{
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#dedfff),to(#ced3f7));
	padding:.3em
}

body{
	margin:0 0 0 0; 
}

div{
	display:table; 
	width:180px; 
	text-align:center; 
	margin:10px auto
}

a{
	display:table-cell;
}

img{
	width:40px;
	height:40px;
}

strong{
	display:block; 
	margin-top:10px
}

